

.activemenu{ 
	background-color: #3258c7;
}

.h-tabla{
	height: calc(100% - 87px);
}

.h-tabla2{
	height: calc(100% - 40px);
}

.h-tabla3{
	height: calc(100% - 195px);
}



.activemenu{ 
	background-color: #3258c7;
}

.h-tabla{
	height: calc(100% - 87px);
}

.h-tabla2{
	height: calc(100% - 40px);
}

.h-tabla3{
	height: calc(100% - 195px);
}

.orange{
	background-color: orange;
	color: white !important;
	font-weight: bold !important;
}
.amenu:hover{
	color: white !important;
	font-weight: bold !important;
}


#dataGrid {
    height: 500px;
}

.width-full{
	width: 100%;
}